<form method="post" action="{{ url_for('detalhes', id = noticia.get_id()) }}" id="form_comentario">
  <label class="form-label" for="input_nome">Nome de usuário: </label>
  <input required class="form-control" type="text" name="nome_usuario" id="input_nome" />
  <label class="form-label" for="input_email">E-mail: </label>
  <input required class="form-control" type="email" name="email_usuario" id="input_email" />
  <label class="form-label" for="textarea_comentario">Comentário: </label>
  <textarea required class="form-control" name="comentario" id="textarea_comentario"></textarea>
  <input class="submit_comentario" type="submit" value="Comentar" />
</form>