{% extends "base.html" %}

{% block title %} {{ noticia.get_titulo() }} {% endblock title %}

{% block content %}

<div class="container my-3 w-75 mx-auto">
    <div class="img-container text-center">
        <img src={{ noticia.get_imagem() }} class="my-5" width="720px" height="480px">
    </div>
    <div class="info-contaier">
        <p class="ps-5 text-start">{{ noticia.get_dataPostagem() }} -- {{ noticia.views }}<i class="bi bi-eye"></i></p>
        <div class="container-avaliacao">
            <a data-id= {{ noticia.get_id() }} data-url="{{url_for('curtir_noticia', id=noticia.get_id() )}}" class="avaliacao-btn like-btn" href="#/"><i class="bi bi-hand-thumbs-up{% if noticia.status == 2 %}-fill{% endif %}"></i></a>
            <p class="numero-likes">{{ noticia.likes }}</p>
            <a data-id= {{ noticia.get_id() }} data-url="{{url_for('nao_curtir', id=noticia.get_id() )}}" class="avaliacao-btn deslike-btn" href="#/"><i class="bi bi-hand-thumbs-down{% if noticia.status == 0 %}-fill{% endif %}"></i></a>
            <p class="numero-deslikes">{{noticia.deslikes}}</p>
        </div>
    </div>
    <div>
        <h2 class="h2 text-center text-primary"> {{noticia.get_titulo()}} </h2>
        <div class="w-75 m-auto">
            <p class="text-dark p-2 lh-lg fw-bold"> {{ noticia.get_conteudo() }} </p>
        </div>
    </div>
</div>
<div class="comentario-container">
    {% for comentario in comentarios %}
        <div class="comentario-div">
            <div class="comentario-user">
                <div class="comentario-nome-foto">
                    <img src="{{url_for('static', filename='img/user.png')}}" width="20px" height="20px" />
                    <p>{{comentario.nome_usuario}}</p>
                </div>
                <p>{{comentario.email_usuario}}</p>
            </div>
            <div class="comentario-mensagem">
                <p>{{comentario.mensagem}}</p>
            </div>
            <div class="comentario-report">
                <i title="Reportar usuário {{comentario.nome_usuario}}" class="bi bi-exclamation-triangle report-user"></i>
            </div>
        </div>

    {%endfor%}
</div>

{% include 'comentario_form.html' %}
{% endblock content %}

{% block extrajs %}
<script>
    function atualizar_avaliacao(numero_likes, numero_deslikes) {
        $('p.numero-likes').text(numero_likes)
        $('p.numero-deslikes').text(numero_deslikes)
    }

    function verificar_avaliacao(status) {
        $('.like-btn i').attr('class', '')
        $('.deslike-btn i').attr('class', '')
        if (status==0 ) {
            $('.like-btn i').addClass("bi bi-hand-thumbs-up")
            $('.deslike-btn i').addClass("bi bi-hand-thumbs-down-fill")
        }
        else if (status==1) {
            $('.like-btn i').addClass("bi bi-hand-thumbs-up")
            $('.deslike-btn i').addClass("bi bi-hand-thumbs-down")
        } else {
            console.log("like")
            $('.like-btn i').addClass("bi bi-hand-thumbs-up-fill")
            $('.deslike-btn i').addClass("bi bi-hand-thumbs-down")
        }
    }

    function atualizar_comentarios() {
        nome_usuario = $('#input_nome').val()
        email = $('#input_email').val()
        comentario = $('#textarea_comentario').val()
        $('#input_nome').val("")
        $('#input_email').val("")
        $('#textarea_comentario').val("")
        novo_comentario = `<div class="comentario-div">
            <div class="comentario-user">
                <div class="comentario-nome-foto">
                    <img src="{{url_for('static', filename='img/user.png')}}" width="20px" height="20px" />
                    <p>${nome_usuario}</p>
                </div>
                <p>${email}</p>
            </div>
            <div class="comentario-mensagem">
                <p>${comentario}</p>
            </div>
            <div class="comentario-report">
                <i title="Reportar usuário ${nome_usuario}" class="bi bi-exclamation-triangle report-user"></i>
            </div>
        </div>`
        $('.comentario-container').append(novo_comentario)
    }

    $('.avaliacao-btn').click(function(e) {
        
        $.ajax({
            data : {
              id : $(this).attr('data-id'),
            },
            type: 'GET',
            url: $(this).attr('data-url'),
        }).done(function(data) {
            verificar_avaliacao(data.status)
            atualizar_avaliacao(data.numero_likes, data.numero_deslikes)
        })
    })

    $('#form_comentario').submit(function(e) {
        e.preventDefault()
        $.ajax({
            data: {
                nome_usuario: $('#input_nome').val() ,
                email_usuario: $('#input_email').val() ,
                comentario: $('#textarea_comentario').val() ,
            },
            type: "POST",
            url: $(this).attr('data-url')
        }).done(function(data) {
            atualizar_comentarios()
            
        })
    })

</script>
{% endblock %}