{% extends "base.html" %}

{% block title %} {{ noticia.get_titulo() }} {% endblock title %}

{% block content %}

<div class="container my-3 w-75 mx-auto">
    <div class="img-container text-center">
        <img src={{ noticia.get_imagem() }} class="my-5" width="720px" height="480px">
    </div>
    <div class="info-contaier">
        <p class="ps-5 text-start">{{ noticia.get_dataPostagem() }} -- {{ noticia.views }}<i class="bi bi-eye"></i></p>
        <div class="container">
            <a href="{{url_for('curtir_noticia', id=noticia.get_id() )}}">LIKE</a>
            <a href="{{url_for('nao_curtir', id=noticia.get_id() )}}">DISLIKE</a>
        </div>
    </div>
    <div>
        <h2 class="h2 text-center text-primary"> {{noticia.get_titulo()}} </h2>
        <div class="w-75 m-auto">
            <p class="text-dark p-2 lh-lg fw-bold"> {{ noticia.get_conteudo() }} </p>
        </div>
    </div>
</div>
<div class="comentario-container">
    {% for comentario in comentarios %}
        <div class="comentario-div">
            <div class="comentario-user">
                <p>{{comentario.nome_usuario}}</p>
                <p>{{comentario.email_usuario}}</p>
            </div>
            <div class="comentario-mensagem">
                <p>{{comentario.mensagem}}</p>
            </div>
            <div class="comentario-report">
                <i title="Reportar usuário {{comentario.nome_usuario}}" class="bi bi-exclamation-triangle report-user"></i>
            </div>
        </div>

    {%endfor%}
</div>
{% include 'comentario_form.html' %}
{% endblock content %}