.comentario-container {
  display: grid;
  grid-template-columns: repeat(3, auto);

}

.comentario-div {
  background-color: gray;
  margin: 10px;
  padding: 10px;
}

.comentario-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.comentario-report {
  text-align: right;
}
.report-user {
  cursor: pointer;
}

.report-user:hover {
  color: red;
}