<div id="allCards">
    <div>  <!-- class = card-all -->
        <h3>Acre</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Alagoas</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Amapá</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Amazonas</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Bahia</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Ceará</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Distrito Federal</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Espirito Santo</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Goiás</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Maranhão</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Mato Grosso do Sul</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Mato Grosso</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Minas Gerais</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Pará</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Paraíba</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Paraná</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Pernambuco</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Piauí</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Rio de Janeiro</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Rio Grande do Norte</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Rio Grande do Sul</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Rondônia</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Roraima</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Santa Catarina</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>São Paulo</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Sergipe</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Tocantins</h3>
        <li class="d-flex flex-row w-50">
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
                <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div></div>
            <div class="card w-25">
                <img class="card-img-top img-fluid" src="../img/imagem_teste" alt="Imagem da Notícia">
            <div class="card-body">
                    <h5 class="card-title">Lorem</h5>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, iure.</p>
                </div>
            </div>
        </li>
    </div>
</div>
<script src="../js/addClass.js"></script>
