<div id="allCards">
    <div>  <!-- class = card-all -->
        <h3>Acre</h3>
        <li id="id-bandeira-acre"> <!-- class = justify-content-center d-flex flex-row w-50  -->
            <div> <!-- class = card w-25 mx-1 -->
                <img src="../img/imagem_teste" alt="Imagem da Notícia"> <!-- class = card-img-top img-fluid -->
                <div> <!-- class = card-body -->
                    <h5>Lorem</h5> <!-- class = card-title -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p> <!-- class = card-text fs-6 -->
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Alagoas</h3>
        <li id="id-bandeira-alagoas">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Amapá</h3>
        <li id="id-bandeira-amapa">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Amazonas</h3>
        <li id="id-bandeira-amazonas">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Bahia</h3>
        <li id="id-bandeira-bahia">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Ceará</h3>
        <li id="id-bandeira-ceara">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Distrito Federal</h3>
        <li id="id-bandeira-distrito-federal">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Espirito Santo</h3>
        <li id="id-bandeira-espirito-santo">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Goiás</h3>
        <li id="id-bandeira-goias">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Maranhão</h3>
        <li id="id-bandeira-maranhao">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Mato Grosso do Sul</h3>
        <li id="id-bandeira-mato-grosso-do-sul">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Mato Grosso</h3>
        <li id="id-bandeira-mato-grosso-do-norte">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Minas Gerais</h3>
        <li id="id-bandeira-minas-gerais">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Pará</h3>
        <li id="id-bandeira-para.png">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Paraíba</h3>
        <li id="id-bandeira-paraiba">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Paraná</h3>
        <li id="id-bandeira-parana">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Pernambuco</h3>
        <li id="id-bandeira-pernambuco">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Piauí</h3>
        <li id="id-bandeira-piaui">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Rio de Janeiro</h3>
        <li id="id-bandeira-rio-de-janeiro">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Rio Grande do Norte</h3>
        <li id="id-bandeira-rio-grande-do-norte">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Rio Grande do Sul</h3>
        <li id="id-bandeira-rio-grande-do-sul">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Rondônia</h3>
        <li id="id-bandeira-rondonia">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Roraima</h3>
        <li id="id-bandeira-roraima">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Santa Catarina</h3>
        <li id="id-bandeira-santa-catarina">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>São Paulo</h3>
        <li id="id-bandeira-sao-paulo">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Sergipe</h3>
        <li id="id-bandeira-sergipe">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>

    <div>
        <h3>Tocantins</h3>
        <li id="id-bandeira-tocantins">
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
            <div>
                <img src="../img/imagem_teste" alt="Imagem da Notícia">
                <div>
                    <h5>Lorem</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
                        iure.</p>
                </div>
            </div>
        </li>
    </div>
</div>
<script src="../js/addClass.js"></script>
<script src="../js/tabs.js"></script>

