{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}
<h1 class="h1 text-center">Home</h1>

    <div class="d-flex justify-content-center m-5">
        {% include 'carousel.html' %}
    </div>
    <div style="overflow-x: scroll;" class="d-flex justify-content-around">
    {% for noticia in noticias %}
        {% if noticia.get_estado() == None %}
        <div class="card text-center" style="width: 18rem;">
            <img src="https://via.placeholder.com/286x286" class="card-img-top" alt="Imagem default">
            <div class="card-body">
            <h5 class="card-title">{{ noticia.get_titulo() }}</h5>
            <p class="card-text text-start">{{ noticia.get_previa() }}</p>
            <a href="{{url_for('detalhes', id = noticia.get_id())}} " class="btn btn-primary">Ler mais...</a>
            </div>
            <div class="card-footer text-muted">
                {{noticia.get_dataPostagem()}}
              </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="bg-secondary p-5">
        <ul class="d-flex list-unstyled flex-wrap justify-content-center">
            {% for estado in estados %}
                <li style="width:250px" class="my-1"><a class="text-body text-decoration-none " href="{{ url_for('detalharEstado', estado = estado[0].get_estado())}}" ><img width="50px" src="{{ estado[0].get_bandeira() }}" /> {{estado[0].get_sigla()}} - {{ estado[0].get_estado() }} </a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}