{% extends "base.html" %}
{% block content %}
    <div class="bg-secondary py-3 text-center">
        <img class="text-center" src="../{{ estado.get_bandeira() }}" />
        <h1 class="h1">{{ estado.get_estado() }} - {{ estado.get_sigla() }}</h1>
    </div>

    <div style="overflow-x: scroll;" class="d-flex my-5 justify-content-around">
    {% for noticia in noticias %}
        {% if noticia.get_estado().get_estado() == estado.get_estado() %}
        <div class="card text-center" style="width: 18rem;">
            <img src={{ noticia.get_imagem() }} class="card-img-top" alt="Imagem default">
            <div class="card-body">
            <h5 class="card-title">{{ noticia.get_titulo() }}</h5>
            <p class="card-text text-start">{{ noticia.get_previa() }}</p>
            <a href="{{url_for('detalhes', id = noticia.get_id())}} " class="btn btn-primary">Ler mais...</a>
            </div>
            <div class="card-footer text-muted">
                {{noticia.get_dataPostagem()}} - {{noticia.likes}}👍 - {{noticia.views}}👁
              </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>


{% endblock %}